@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  display: flex;
  justify-content: space-around;
}
.swiper-button-next {
  right: 2px;
  left: auto;
}
.swiper-button-prev {
  left: 2px;
  right: auto;
}
.review-des{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.banner-slide{
  margin: 5px 100px;
}
.title-des{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}